.articleWrapper{
   
    height: 300px;
    background-color: rgb(195, 189, 184);
    margin-bottom: 20px;

}

.articleWrapper img{
    width: 100%;
    

}

.articleWrapper h3{
    text-align: right;
    padding: 8px 16px;

}

.articleWrapper p{
    text-align: right;
    padding: 8px 16px;
    color: #777;

}
